@import '@/scss/_vars.scss';
@import '@/scss/_fonts.scss';

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: $text;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}



.container {
  /*ширина контейнера чистая 1140px*/
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: red;
}

